certificate.pem
old_codes.txt

# Ignore cookie files
session_cookies.json
*.cookies
cookies/

# Ignore log files but keep the logs directory
logs/*.csv
logs/*.log
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/
.env

# Editor-specific files
.idea/
.vscode/
*.swp
*.swo
redemption_codes.txt
